footer {
  position: fixed;
  bottom: 0;
}

#contact {
  background-color: #f09a9e;
}

#contact:hover {
  background-color: #b87274;
}

#info {
  height: 200px;
  font-size: 30px;
  padding-left: 8rem;
  padding-top: 3rem;
}

section > form {
  display: grid;
  grid-template:
  "a b"
  "c c"
  / 1fr 1fr;
}

#grid {
  padding-top: 2rem;
  padding-right: 8rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

#nom input,
#prenom input,
#email input,
#tel input {
  background: #ddcdcd;
  border-radius: 20px;
  width: 330px;
  height: 50px;
  border: none;
  font-size: 17px; 
}

#comsub{
  padding-top: 10px;
  width: 100%;
  display: grid;
  grid-area: 'c';
  padding-left: 8rem;
}

#comsub input {
  background: #ddcdcd;
  border-radius: 20px;
  width: 832px;
  height: 50px;
  border: none;
  font-size: 17px; 
}

#com {
  padding-bottom: 30px;
}

#com input{
  height: 350px;
}

#submit input{
  background-color: #c66461;
}

#com p {
  font-size: 17px;
}
