#perso{
  
  background-color: #f09a9e;;
}

#perso:hover{
  background-color: #b87274;
}

  .grid-item {
    background-color: #B87274;
    border-radius: 50px;
    width: 645px;
    height: auto ;
    text-align: center;
    font-size: 32px;
    padding: 40px;
    color: white;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

#frank{
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    height:707px;
    width:auto;
    margin-top: 20px;
}

#grid{
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 0 10em;
    grid-template-areas: 
    "a b"
    "c d"
    "e f"
    "g h";
}

#text1{
    grid-area: a;
    height: auto;
    margin-bottom:20px;
}

#text2{
    height: auto;
}

#mich{
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    height:707px;
    width:auto;
}

#text3{
    height: auto;
}

#trev{
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    height:707px;
    width:auto;
}

@media screen and (max-width: 1000px) {
    #grid {
        padding: 0 1em;
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h";
    }
    
    .grid-item {
        width: 100%;
        max-width: 590px;
        font-size: 1.25rem;
        padding: 2em;
        box-sizing: border-box;
    }
    
    #frank, #mich, #trev {
        width: 100%;
        height: auto;
    }
}