body {
  font-family: helvetica, sans-serif;
}

#perso {
  width: 139px;
  height: 41px;
}

#map {
  width: 76px;
  height: 41px;
}

#rockstar {
  height: 41px;
  width: 150px;
}


#mention {
  width: 161px;
  height: 41px;
}

#auteur {
  width: 103px;
  height: 41px;
}

#contact {
  width: 103px;
  height: 41px;
}

  #gta {
    width: 90px;
    height: 41px;
  }

header {
  top: 0;
  left: 0;
  background-color: #c66461;
  color: white;
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header h1 {
  font-size: 80px;
  margin: 0;
}

header img {
  height: auto;
  width: 125px;
  margin-right: 20px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-left: auto;
  margin-right: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: 50px;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: white
}

nav a:hover {
  background-color: #f67f7b;
  border-radius: 50px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: #c66461;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 97px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

footer nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-left: auto;
  margin-right: 50px;
}

footer button {
  transition: 0.2s;
  border: none;
  border: 2px solid black;
  border-color: #7c4d4f;
  background-color: #b87274;
  color: white;
  margin-right: 0;
  border-radius: 50px;
  padding: 10px 20px;
}

footer button:hover {
  background-color: #f09a9e;
  cursor: pointer;
}

.grid-item {
  background-color: #b87274;
  color: white;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  height: auto;
  text-align: center;
}
