.grid-item {
  width: 100%;
  max-width: 590px;
  font-size: 1.25rem;
  padding: 2em;
  box-sizing: border-box;
}

.image-GTAV {
  width: 100%;
  max-width: 320px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

#grid {
  margin: 26px;
  display: grid;
  place-items: center;
  gap: 1.5em;
  padding: 0 5vw;
  grid-template-areas:
    "a a b c"
    "a a b d";
}

#text {
  grid-area: a;
}

#img1 {
  grid-area: b;
}

#img2 {
  grid-area: c;
}

#img3 {
  grid-area: d;
}

footer {
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  #grid {
    padding: 0 1em;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }

    .image-GTAV {
    width: 100%;
    max-width: 300px;
  }
  .grid-item {
    padding: 1em;
    font-size: 1rem;
  }
}
