body {
  font-family: helvetica, sans-serif;
}

header {
 /*position: sticky;*/
  top: 0;
  left: 0;
  background-color: #c66461;
  color: white;
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header h1 {
  font-size: 80px;
  margin: 0;
}

header img {
  height: auto;
  width: 125px;
  margin-right: 20px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-left: auto;
  margin-right: 50px;
}

header button {
  border: none;
  background-color: #b87274;
  color: white;
  margin-right: 0;
  border-radius: 50px;
  padding: 10px 20px;
}

header button:hover {
  background-color: #f09a9e;
  cursor: pointer;
}

* {
  margin: 0;
  box-sizing: border-box;
}

#perso {
  width: 139px;
  height: 41px;
}

#map {
  width: 76px;
  height: 41px;
}

#rockstar {
  height: 41px;
  width: 138px;
}

footer {
  background-color: #c66461;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 97px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

footer nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-left: auto;
  margin-right: 50px;
}

footer button {
  border: none;
  background-color: #b87274;
  color: white;
  margin-right: 0;
  border-radius: 50px;
  padding: 10px 20px;
}

footer button:hover {
  background-color: #f09a9e;
  cursor: pointer;
}

#mention {
  width: 161px;
  height: 41px;
}

#auteur {
  width: 103px;
  height: 41px;
}

#contact {
  width: 103px;
  height: 41px;
}


.grid-item {
    background-color: #B87274;
    /*padding: 1rem;*/
    border-radius: 50px;
    width: 590px;
    height: auto;
    /*margin-left: 160px;
    margin-top: 18vh;*/
    text-align: center;
    font-size: 20px;
    padding: 40px;
    padding-bottom: 40px;
    color: white;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

.image-GTAV{
  width:320px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);

 
}

#grid {
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 0 10em;
  grid-template-areas: 
  ". . . c"
  "a a b c"
  "a a b d"
  ". . . d";
}

#text{
  grid-area: a;
}

#img1{
  grid-area: b;
}

#img2{
  grid-area: c;
}

#img3{
  grid-area:d;
}