#rockstar{
  background-color: #f09a9e;;
}

#rockstar:hover{
  background-color: #b87274;
}
.grid-item {
    background-color: #B87274;
    border-radius: 50px;
    width: 590px;
    height: auto;
    text-align: center;
    font-size: 20px;
    padding: 40px;
    color: white;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

#grid {
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 0 10em;
    grid-template-areas: 
    "a b";
    margin-top: 12vh;
}

#img1{
    border-radius: 50px;
    width: auto;
    height: 477px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

footer {
  position: fixed;
  bottom: 0;
}
