footer {
  position: fixed;
  bottom: 0;
}

#auteur{
  background-color: #f09a9e;;
}

#auteur:hover{
  background-color: #b87274;
}

#img1 {
  border-radius: 50px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
  width: auto;
  height: 660px;
  grid-area: b;
}

#grid {
  display: grid;
  place-items: center;
  gap: 20px;
  grid-template-areas: "a b";
  grid-template-columns: auto 1rem auto;

  margin-top: 1.7rem;
}

#text {
  background-color: #b87274;
  border-radius: 50px;
  width: 590px;
  height: auto;
  text-align: center;
  font-size: 20px;
  padding: 40px;
  color: white;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
  grid-area: a;
}

@media screen and (max-width: 1000px) {
  #grid {
    grid-template-areas: 
    "a" 
    "b";
    padding: 0 2em;
  }

  #text {
    width: 100%;
    padding: 20px;
    font-size: 16px;
  }

  #img1 {
    width: 100%;
    height: auto;
  }
}