
.grid-item {
    background-color: #B87274;
    border-radius: 50px;
    width: 645px;
    height: auto;
    text-align: center;
    font-size: 32px;
    padding: 40px;
    color: white;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

#grid {
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-areas:
        "a . b"
        "c . d"
        ". e .";

    grid-template-columns: auto 1rem auto;
}

#par1 {
    margin-top: 20px;
    grid-area: a;
}

#par2 {
    grid-area: b;
}

#par3 {
    grid-area: c;
}

#par4 {
    grid-area: d;
}

#par5 {
    margin-bottom: 20px;
    grid-area: e;
}

@media screen and (max-width: 1000px) {
    #grid {
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e";
        padding: 0 2em;
    }

    .grid-item {
        width: 100%;
        padding: 20px;
        font-size: 16px;
    }

    #img1 {
        width: 100%;
        height: auto;
    }
}